body{
    background-color: moccasin;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    height:700px;
    margin: 0;
}

button{
    background-color: rgb(230, 194, 77);
    font-family: "Edu AU VIC WA NT Guides", cursive;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}